body {
  background: black;
  color: white;

  margin: 0;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

#game {
  width: 80%;
}

#name {
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 20px;
}

#text {
  font-size: 32px;

  line-height: 1.6;

  min-height: 120px;
}

#next-btn {
  margin-top: 20px;

  padding: 10px 20px;

  font-size: 20px;
}