body {
  background: black;
  color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/*================
ゲーム領域
================*/
#game {
  width: 80%;
}

/*================
背景
================*/
#background {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;

}

/*================
名前
================*/
#name {
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 20px;
}

/*================
テキスト領域
================*/
#text {
  font-size: 32px;

  line-height: 1.6;

  min-height: 120px;
}
